<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="author" content="Jonathan Ben-Ammi">
	<title>Landing Page</title>
	<meta name="description" content="This is a Flask assignment for Coding Dojo">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
<!-- 	<script type="text/javascript" src="{{ url_for('static', filename='js/script.js')}}"></script> -->
</head>
<body id="indexbody">
	<div class="container">
	<h2>Welcome to Coding Dojo</h2>
	<img src="{{ url_for('static', filename='img/coding_dojo_highres_white.png')}}">
		<div class="center">
			<a href="/ninjas"><button class="white">About Ninjas</button></a>
			<a href="/dojos/new"><button class="white">About Dojos</button></a>
		</div>
	</div>
</body>
</html>